{% extends "base_generic.html" %}
{% load auth_extra %}
{% block content %}
  <div class="col-lg-12">
      <div class="row">
          <div class="col-lg-12">
              <h1> Title: {{course.cname}}</h1>
              <h2> Professor: {{course.professor}} </h2>
          </div>
          <!-- /.col-lg-12 -->
      </div>

<div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Course Info
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <p>
                    {{course.cdescription}}
                  </p>
              </div>
              <!-- .panel-body -->
          </div>
          <!-- /.panel -->
      </div>
</div>

      <!-- /.row -->
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                     Course TAs
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th>Full Name</th>
                                      <th>Role</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <!-- <tr>

                                      <td>1</td>
                                      <td>Mark Otto</td>
                                      <td>TA</td>
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td>Jacob Thornton</td>
                                      <td>TA</td>
                                  </tr>
                                  <tr>
                                      <td>3</td>
                                      <td>Larry the Bird</td>
                                      <td>Head TA</td>
                                  </tr> -->
                                  {% for ta in course.ta.all %} <tr><td>{{ ta.full_name }}</td><td>TA</td></tr> {% endfor %}
                              </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    Current Assignments
                  </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table id="current-assignment-table" class="table">
                              <thead>
                                  <tr>
                                    <th bgcolor="#f8f8f8">Assigned TA</th>
                                    {% for ta in course.ta.all %}
                                      <td>{{ ta.full_name }}</td>
                                      {% endfor %}
                                      <!-- <th>#</th>
                                      <th>Task</th>
                                      <th>Hours</th>
                                      <th>Assigned TA</th> -->
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th bgcolor="#f8f8f8">Assignments</th>
                                      {% for ta in course.ta.all %}
                                        {% if ta.assignment is None %}
                                            <td>No assignment</td>
                                        {% elif ta.assignment.cid.cid == course.cid %}
                                            <td>{{ ta.assignment.aname }}</td>
                                        {% else %}
                                            <td>No assignment</td>
                                        {% endif%}
                                      {% endfor %}

                                  </tr>
                                  <tr>
                                      <th bgcolor="#f8f8f8">Assigned hours</th>
                                      {% for ta in course.ta.all %}
                                        {% if ta.assignment is None %}
                                            <td></td>
                                        {% elif ta.assignment.cid.cid == course.cid %}
                                            <td>{{ ta.assignment.assigned_hours }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif%}
                                      {% endfor %}
                                  </tr>


                              </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    Upcoming Assignments</div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                    <th bgcolor="#f8f8f8">Assigned TA</th>
                                    {% for ta in course.ta.all %} <td>{{ ta.full_name }}</td> {% endfor %}
                                      <!-- <th>#</th>
                                      <th>Task</th>
                                      <th>Hours</th>
                                      <th>Assigned TA</th> -->
                                  </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                      <th bgcolor="#f8f8f8">Assignments</th>
                                      {% for ta in course.ta.all %}
                                        {% if ta.assignment is None %}
                                            <td>No assignment</td>
                                        {% elif ta.assignment.cid.cid == course.cid %}
                                            <td>{{ ta.assignment.aname }}</td>
                                        {% else %}
                                            <td>No assignment</td>
                                        {% endif%}
                                      {% endfor %}

                                  </tr>
                                  <tr>
                                      <th bgcolor="#f8f8f8">Assigned_hours</th>
                                      {% for ta in course.ta.all %}
                                        {% if ta.assignment is None %}
                                            <td></td>
                                        {% elif ta.assignment.cid.cid == course.cid %}
                                            <td>{{ ta.assignment.assigned_hours }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif%}
                                      {% endfor %}
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-6 -->
              {% if request.user|has_group:"Teaching Assistants" %}
          {% else %}
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                        Add Assignments
                    </div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                      <div class="table-responsive table-bordered">
                          <table class="table" id="myTable">
                              <thead>
                                  <tr>
                                      <th>TA</th>
                                      <th>Assignment</th>
                                      <th>Hours</th>
                                      <th> <button onclick="myCreateFunction()">Add new</button></th>
                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                          <script>
function myCreateFunction() {
  $("#myTable tbody").append("<form action=\"{% url 'addAssignment' %}\" method=\"POST\" id=\"addAssignmentForm\">  {% csrf_token %} <tr>"+
"<td> <select>{% for ta in course.ta.all %}<option>{{ ta.full_name }}</option>{% endfor %}</select></td>"
  +
  "<br><br><td>Assignment Name:<br>" +
  "<input type=\"text\" name=\"Assignment\"><br></td>" +
  "<td>Assigned Hours:<br>" +
  "<input type=\"text\" name=\"assigned_hours\"><br></td>" +
  "<input type= \"hidden\" name=\"courseid\" value=\"{{course.cid}}\">" +
  "<td><input id=\"submit\" type=\"submit\" value=\"Save\" /></td>" +
"</tr></form>");

};
  $('#addAssignmentForm').submit(function(e){
    console.log("form submitted!")
        e.preventDefault();
        var $form = $(this),
            aname = $form.find('input[name="Assignment"]').val(),
            assigned_hours = $form.find('input[name="assigned_hours"]').val(),
            cid = $form.find('input[name="courseid"]').val();
        $.ajax({
            url: $(this).attr('action'),
            method: $(this).attr('method'),
            data: aname, assigned_hours, cid,
            success: function(data){ $('#target').html(data) }
        });
    });
</script>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          {% endif%}
            <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading"><b>Updates</b></div>
                  <!-- /.panel-heading -->
                  <div class="panel-body">
                                  <ul>
                                    {% for update in course.courseupdate_set.all %}
                                      <li>
                                        <p>{{ update.comment }}<br>Created by {{ update.user }} on {{ update.date }}</p>
                                      </li>
                                    {% endfor %}
                                  </ul>


                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.panel-body -->
              </div>
              <!-- /.panel -->
          </div>
          <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->

      <!-- /.row -->
  </div>
{% endblock %}
